.role-table span{
    margin-left: 5px;
}
.role-table thead{
    background-color: #f6f6f6;
}
.role-checkbox{
    margin-left: 5px;
}
.bootstrap-table .table thead > tr > th{
    padding: 5px 0;
}

span.space{
    width: 2px;
}
input[type="checkbox"].role-checkbox{
    width: 20px;
    height: 20px;
}